@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Test</h1>
    <p>Click on Lookup in the menu to begin your magical journey into looking up user details.</p>
</div>
