@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are pretty private, but we don't really guarantee anything. We might do some logging, but we don't collect and store personal information about you. To protect against even this, we recommend wearing a tinfoil hat while using this product.</p>
